.resultsHeader {
    display: inline-block;
    background-color: #212121;
    color: #1DB954;
    font-size: 2.25rem;
    padding-left: 0.5rem;
    border-radius: 100px;
}

@media (min-width: 480px) {
    .resultsHeader {
        font-size: 3rem;
    }
}