.SearchResults {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 950px;
    margin: 4.68rem 0 1.875rem 4.375rem;
    overflow-y: scroll;
    box-shadow: 0 4px 2px 2px #00fffa;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.95;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.results-header {
    color: #fff;
    padding: 0.8rem 1.5rem;
    font-size: 2.5rem;
}