.SearchResults {
  display: flex;
  flex-direction: column;
  width: 47%;
  height: 950px;
  margin: 4.68rem 0 1.875rem 4.375rem;
  overflow-y: scroll;
  box-shadow: 0 4px 2px 2px #00fffa;
  border-radius: 5px;
  background-color: #000;
  opacity: 0.95;
}

.results {
  color: #fff;
  padding-left: 20px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.results-header {
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-size: 3rem;
}

@media only screen and (max-width: 480px) {
  .SearchResults {
    margin: 4.68rem -0.9rem 1.875rem 1rem;
  }

  .SearchResults h2 {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .SearchResults {
    margin: 4.68rem -0.9rem 1.875rem 1rem;
  }

  .results-header {
    font-size: 3.5rem;
  }
}
