.track {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.trackInfo {
    background-color: #19ca31;
    padding: 0.65rem;
}

.albumImage {
    width: 75px;
    height: auto;
}

.trackAction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}