@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    padding: 15px;
    color: #b0e0e6;
}

.app {
    background-color: #000;
}