.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

input {
    background-color: #5b5b5b;
    border-radius: 15px;
    height: 40px;
    width: 150px;
}

::placeholder {
    color: #fff;
    text-align: center;
    font-size: 15px;
}