.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 950px;
  margin: 4.68rem 0 1.875rem 4.375rem;
  padding: 2.27rem 1.16rem;
  overflow-y: scroll;
  box-shadow: 0 4px 2px 2px #00fffa;
  border-radius: 5px;
  background-color: #000;
  opacity: 0.95;
}

input {
  width: 100%;
  padding-left: 10px;
  margin-bottom: 21px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1.55rem;
  color: #fff;
}

.playlist input::placeholder {
  color: #fff;
}

.playlist-save {
  height: 3.125rem;
  width: 10.5rem;
  margin-top: 1.25rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: #00fffa;
  color: #000;
  border: none;
  border-radius: 25px;
}

.playlist-save:active {
  background-color: #009dff;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@media only screen and (max-width: 480px) {
  .playlist {
    margin: 4.68rem 1rem 1.875rem 2.5rem;
  }

  .playlist input {
    padding-left: 0px;
    font-size: 1.4rem;
  }

  .playlist button {
    height: 3.125rem;
    width: 9rem;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 768px) {
  input {
    padding-left: 15px;
    font-size: 1.55rem;
  }

  .playlist-save {
    height: 3rem;
    width: 11rem;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .playlist {
    margin: 4.68rem 1.5rem 1.875rem 3rem;
  }
}
