.playlistContainer {
    display: flex;
    flex-direction: column;
}

.playlistInputContainer {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 0.5rem 0;
}

.playlistInputContainer input{
    height: 2.5rem;
    width: 12rem;
    border: 2px solid #1DB954;
    box-shadow: 0 0 4px #FFF;
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 0.5rem;
}

.playlistInputContainer input:focus {
    outline: none;
    box-shadow: 0 0 4px #0aa03c42;
}

.saveButtonContainer {
    display: flex;
    justify-content: center;
}

.saveButton {
    margin: 0.45rem 0 2rem 0;
    color: #212121;
    cursor: pointer;
    font-weight: 600;
    background-color: #FFF;
    border: 2px solid #1DB954;
    border-radius: 20px;
    box-shadow: 0 0 4px #FFF;
    font-size: 1rem;
    padding: 0.5rem;
    transition: background-color 0.4s ease;
}

.saveButton:hover {
    background-color: #1DB954;
    color: #FFF;
    box-shadow: 0 0 6px #1DB954;
}

.saveButton:active {
    color: #1DB954;
    background-color: #148F3D;
    box-shadow: 0 0 4px #148F3D; 
}

@media (min-width: 480px) {
  .playlistInputContainer input{
    height: 2.75rem;
    width: 13rem;
    font-size: 1rem;
  }

  .saveButton {
    border-radius: 25px;
    font-size: 1.15rem;
  }
}